<div>
  <div class="title-list">
    <h3>Список аналізів</h3>
  </div>
  <mat-list role="list">
    <mat-list-item *ngFor="let a of analyses; index as i"
                   role="listitem">
      <span class="analysis-text"> {{a.type}}</span>
      <button (click)="addResult(i)" color="accent" mat-mini-fab>
        <mat-icon>remove_red_eye</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
  <div *ngIf="!analyses || analyses.length === 0"
       class="no-patients-message">
    <h3>Пацієнт не має призначених аналізів</h3>
  </div>
</div>
