<div [formGroup]="formGroup">
  <!--   Description  -->
  <mat-form-field class="full-width">
    <mat-label>Опис</mat-label>
    <textarea aria-label="Опис"
              formControlName="description"
              matInput
              rows="12"></textarea>
    <mat-error *ngIf="getErrors('description')">
              <span *ngIf="getErrors('description').maxlength">
                Опис завеликий. Максимум: {{getErrors('description').maxlength.requiredLength}}
              </span>
      <span *ngIf="getErrors('description').required">
                Поле обов'язкове
              </span>
    </mat-error>
  </mat-form-field>
  <!--  Organ system  -->
  <mat-form-field class="full-width">
    <mat-label>Система органів</mat-label>
    <mat-select formControlName="organSystem">
      <mat-option>--</mat-option>
      <mat-option *ngFor="let os of organSystems | async" [value]="os">
        {{os}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="getErrors('organSystem')">
        <span *ngIf="getErrors('organSystem').required">
                Поле обов'язкове
              </span>
    </mat-error>
  </mat-form-field>
</div>
