.parent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #7F7FD5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form-holder {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.mat-icon {
  width: inherit;
  height: inherit;
  font-size: 40px;
}

.full-width {
  width: 100%;
}

.mat-card-actions {
  text-align: center;
}

.main-action-btn {
  max-width: 200px;
}
