<div class="parent">
  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        class="form-holder">
    <mat-card class="full-width">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon>
            person
          </mat-icon>
        </div>
        <mat-card-title>Вхід у особистий кабінет</mat-card-title>
        <mat-card-subtitle>Вітаємо! Для того, щоб увійти введіть свій логін та пароль.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width">
          <mat-label>Логін</mat-label>
          <label>
            <input formControlName="username" matInput
                   placeholder="doc.ivan.86">
          </label>
          <mat-error *ngIf="getErrors('username')">
              <span *ngIf="getErrors('username').maxlength">
                Логін завеликий. Максимум: {{getErrors('username').maxlength.requiredLength}}
              </span>
            <span *ngIf="getErrors('username').required">
                Поле обов'язкове
              </span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Пароль</mat-label>
          <label>
            <input formControlName="password" matInput
                   type="password">
          </label>
          <mat-error *ngIf="getErrors('password')">
              <span *ngIf="getErrors('password').maxlength">
                Пароль завеликий. Максимум: {{getErrors('password').maxlength.requiredLength}}
              </span>
            <span *ngIf="getErrors('password').minlength">
                Пароль замалий. Мінімум: {{getErrors('password').minlength.requiredLength}}
              </span>
            <span *ngIf="getErrors('password').required">
                Поле обов'язкове
              </span>
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button class="main-action-btn full-width"
                color="primary"
                mat-raised-button
                type="submit">Увійти
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
