<div class="info-holder">
  <div class="info-item">
    <span class="info-item-name">Прізвище: </span>{{patient.lastName}}
  </div>
  <div class="info-item">
    <span class="info-item-name">Ім'я: </span>{{patient.firstName}}
  </div>
  <div class="info-item">
    <span class="info-item-name">По-батькові: </span>{{patient.middleName || '-'}}
  </div>
  <div class="info-item">
    <span class="info-item-name">Дата народження: </span>{{patient.birthday | date:'longDate' }}
  </div>
  <div class="info-item">
    <span class="info-item-name">Телефон: </span>{{patient.phone}}
  </div>
  <div class="info-item">
    <span class="info-item-name">Домашній телефон: </span>{{patient.homePhone}}
  </div>
  <div class="info-item">
    <span class="info-item-name">Стать: </span>{{patient.isMale ? 'чоловіча' : 'жіноча'}}
  </div>
  <div class="info-item">
    <span class="info-item-name">Адреса: </span>
    {{patient.address.zipCode}}, {{patient.address.street}} {{patient.address.houseNumber}}, {{patient.address.city}}
  </div>
</div>
