<div class="info-holder">
  <div class="info-item">
    <span class="info-item-name">Дата госпіталізації: </span>{{hospitalization.hospitalizationDate | date:'longDate' }}
  </div>
  <div class="info-item">
    <span class="info-item-name">Дата хвороби: </span>{{hospitalization.diseaseDate | date:'longDate' }}
  </div>
  <div class="info-item">
    <span class="info-item-name">Дата виписки: </span>{{hospitalization.extractDate | date:'longDate' }}
  </div>
  <div class="info-item">
    <span class="info-item-name">Зайнятість: </span>{{hospitalization.employment}}
  </div>
  <div class="info-item">
    <span class="info-item-name">Тип: </span>{{TYPES.get(hospitalization.type)}}
  </div>
  <div class="info-item">
    <span class="info-item-name">Скерування: </span>{{hospitalization.referral}}
  </div>
  <div class="info-item">
    <span class="info-item-name">Скарги: </span>
    <mat-list>
      <mat-list-item *ngFor="let c of hospitalization.complaints">
        <div mat-line>{{c.description}}</div>
        <div mat-line>{{c.organSystem}}</div>
        <div mat-line>{{c.startDate | date:'longDate'}}</div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
