<div class="info-holder">
  <div class="info-item">
    <span class="info-item-name">Призначене лікування: </span>{{info.prescribed}}
  </div>
  <div class="info-item">
    <span class="info-item-name">Ліки: </span>{{info.medicines}}
  </div>
</div>
