.info-holder {
  width: 100%;
  font-size: 1.1em;
}

.info-item-name {
  font-weight: bold;
}

.info-item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.mat-list-item {
  .mat-line {
    white-space: normal;
    overflow: visible;
  }
}
