<div class="mat-elevation-z8">
  <mat-table [dataSource]="datasource" matSort>
    <!-- Date -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Дата</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date | date: 'yyyy-MM-dd'}} </mat-cell>
    </ng-container>
    <!-- Condition -->
    <ng-container matColumnDef="condition">
      <mat-header-cell *matHeaderCellDef> Стан</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{CONDITIONS.get(element.condition)}} </mat-cell>
    </ng-container>
    <!-- Temperature -->
    <ng-container matColumnDef="temperature">
      <mat-header-cell *matHeaderCellDef> Температура</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.temperature}} </mat-cell>
    </ng-container>
    <!-- Respiratory rate -->
    <ng-container matColumnDef="respiratoryRate">
      <mat-header-cell *matHeaderCellDef> Частота дихання</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.respiratoryRate}} </mat-cell>
    </ng-container>
    <!-- Blood pressure -->
    <ng-container matColumnDef="bloodPressure">
      <mat-header-cell *matHeaderCellDef> Тиск</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.bloodPressureDia + '/' + element.bloodPressureSys}} </mat-cell>
    </ng-container>
    <!-- Complaints -->
    <ng-container matColumnDef="complaints">
      <mat-header-cell *matHeaderCellDef> Скарги</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.complaints}} </mat-cell>
    </ng-container>
    <!-- Treatments -->
    <ng-container matColumnDef="treatments">
      <mat-header-cell *matHeaderCellDef> Лікування</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.treatments}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
</div>
