<div class="info-holder">
  <div class="info-item">
    <span class="info-item-name">Аналіз: </span>{{analysis.type}}
  </div>
  <div *ngIf="analysis.result">
    <div class="info-item">
      <span class="info-item-name">Дата: </span>{{analysis.result.date | date:'longDate'}}
    </div>
    <div class="info-item">
      <span class="info-item-name">Опис: </span>{{analysis.result.description}}
    </div>
    <div class="info-item">
      <span class="info-item-name">Висновок: </span>{{analysis.result.conclusion}}
    </div>
    <div class="info-item">
      <span class="info-item-name">Лікар: </span>{{docInfo}}
    </div>
  </div>
</div>
