<div class="form-holder">
  <h3 class="form-name">Паспортні дані</h3>
  <mat-divider></mat-divider>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <!--    LAST NAME  -->
    <mat-form-field class="full-width">
      <mat-label>Прізвище</mat-label>
      <input aria-label="Прізвище"
             formControlName="lastName"
             matInput>
      <mat-error *ngIf="getErrors('lastName')">
              <span *ngIf="getErrors('lastName').maxlength">
                Прізвище завелике. Максимум: {{getErrors('lastName').maxlength.requiredLength}}
              </span>
        <span *ngIf="getErrors('lastName').required">
                Поле обов'язкове
              </span>
      </mat-error>
    </mat-form-field>
    <!--    FIRST NAME  -->
    <mat-form-field class="full-width">
      <mat-label>Ім'я</mat-label>
      <input aria-label="Ім'я"
             formControlName="firstName"
             matInput>
      <mat-error *ngIf="getErrors('firstName')">
              <span *ngIf="getErrors('firstName').maxlength">
                Ім'я завелике. Максимум: {{getErrors('firstName').maxlength.requiredLength}}
              </span>
        <span *ngIf="getErrors('firstName').required">
                Поле обов'язкове
              </span>
      </mat-error>
    </mat-form-field>
    <!--    MIDDLE NAME  -->
    <mat-form-field class="full-width">
      <mat-label>По-батькові</mat-label>
      <input aria-label="По-батькові"
             formControlName="middleName"
             matInput>
      <mat-error *ngIf="getErrors('middleName')">
              <span *ngIf="getErrors('middleName').maxlength">
                По-батькові завелике. Максимум: {{getErrors('middleName').maxlength.requiredLength}}
              </span>
      </mat-error>
    </mat-form-field>
    <!--    BIRTHDAY  -->
    <mat-form-field class="full-width">
      <mat-label>Дата народження</mat-label>
      <input [matDatepicker]="datepicker"
             [max]="maxBirthday"
             aria-label="Дата народження"
             formControlName="birthday"
             matInput
             placeholder="yyyy-mm-dd">
      <mat-datepicker-toggle [for]="datepicker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker></mat-datepicker>
      <mat-error *ngIf="getErrors('birthday')">
        <span *ngIf="getErrors('birthday').required">
                Поле обов'язкове
              </span>
      </mat-error>
    </mat-form-field>
    <!--  PHONE -->
    <mat-form-field class="full-width">
      <mat-label>Телефон</mat-label>
      <input [appPhone]="getControl('phone')"
             aria-label="Телефон"
             formControlName="phone"
             matInput
             placeholder="(xxx) xxx-xx-xx">
      <mat-error *ngIf="getErrors('phone')">
              <span *ngIf="getErrors('phone').maxlength">
                Телефон завеликий. Максимум: {{getErrors('phone').maxlength.requiredLength}}
              </span>
        <span *ngIf="getErrors('phone').minlength">
                Телефон замалий. Мінімум: {{getErrors('phone').minlength.requiredLength}}
              </span>
        <span *ngIf="getErrors('phone').required">
                Поле обов'язкове
              </span>
      </mat-error>
    </mat-form-field>
    <!--  HOME PHONE -->
    <mat-form-field class="full-width">
      <mat-label>Домашній телефон/Близького родича</mat-label>
      <input [appPhone]="getControl('homePhone')"
             aria-label="Домашній телефон"
             formControlName="homePhone"
             matInput
             placeholder="(xxx) xxx-xx-xx">
      <mat-error *ngIf="getErrors('homePhone')">
              <span *ngIf="getErrors('homePhone').maxlength">
                Телефон завеликий. Максимум: {{getErrors('homePhone').maxlength.requiredLength}}
              </span>
        <span *ngIf="getErrors('homePhone').minlength">
                Телефон замалий. Мінімум: {{getErrors('homePhone').minlength.requiredLength}}
              </span>
        <span *ngIf="getErrors('homePhone').required">
                Поле обов'язкове
              </span>
      </mat-error>
    </mat-form-field>
    <!--  IS MALE -->
    <mat-radio-group aria-label="Стать"
                     class="full-width"
                     formControlName="isMale">
      <mat-label>Стать</mat-label>
      <br>
      <mat-radio-button [value]="true">Чоловік</mat-radio-button>
      <mat-radio-button [value]="false">Жінка</mat-radio-button>
    </mat-radio-group>
    <div formGroupName="address">
      <!--  HOUSE NUMBER -->
      <mat-form-field class="full-width">
        <mat-label>Номер будинку</mat-label>
        <input aria-label="Номер будинку"
               formControlName="houseNumber"
               matInput>
        <mat-error *ngIf="getErrors('address.houseNumber')">
          <span *ngIf="getErrors('address.houseNumber').min">
                Номер будинку замалий. Мінімум: {{getErrors('address.houseNumber').min.min}}
              </span>
          <span *ngIf="getErrors('address.houseNumber').required">
                Поле обов'язкове
              </span>
        </mat-error>
      </mat-form-field>
      <!--  ZIP CODE -->
      <mat-form-field class="full-width">
        <mat-label>Поштовий індекс</mat-label>
        <input aria-label="Поштовий індекс"
               formControlName="zipCode"
               matInput>
        <mat-error *ngIf="getErrors('address.zipCode')">
              <span *ngIf="getErrors('address.zipCode').maxlength">
                Поштовий індекс завеликий. Максимум: {{getErrors('address.zipCode').maxlength.requiredLength}}
              </span>
          <span *ngIf="getErrors('address.zipCode').required">
                Поле обов'язкове
              </span>
        </mat-error>
      </mat-form-field>
      <!--  Street -->
      <mat-form-field class="full-width">
        <mat-label>Вулиця</mat-label>
        <input aria-label="Вулиця"
               formControlName="street"
               matInput>
        <mat-error *ngIf="getErrors('address.street')">
              <span *ngIf="getErrors('address.street').maxlength">
                Вулиця завелика. Максимум: {{getErrors('address.street').maxlength.requiredLength}}
              </span>
          <span *ngIf="getErrors('address.street').required">
                Поле обов'язкове
              </span>
        </mat-error>
      </mat-form-field>
      <!--  City -->
      <mat-form-field class="full-width">
        <mat-label>Місто</mat-label>
        <input aria-label="Місто"
               formControlName="city"
               matInput>
        <mat-error *ngIf="getErrors('address.city')">
              <span *ngIf="getErrors('address.city').maxlength">
                Місто завелике. Максимум: {{getErrors('address.city').maxlength.requiredLength}}
              </span>
          <span *ngIf="getErrors('address.city').required">
                Поле обов'язкове
              </span>
        </mat-error>
      </mat-form-field>
    </div>
    <h4 class="form-name">Перевірте правильність данних</h4>
    <button class="submit-btn"
            color="primary"
            mat-raised-button
            type="submit">
      Дані пацієнта вірні
    </button>
  </form>
</div>
