.full-width {
  width: 100%;
}

.form-holder {
  padding: 16px;
  display: flex;
  flex-direction: column;

  form {
    display: flex;
    flex-direction: column;
  }
}

.form-name {
  align-self: center;
}

.mat-radio-button {
  margin-right: 8px;
}

.submit-btn {
  align-self: center;
  width: 50%;
  max-width: 200px;
}
