<h2>Заключний діагноз</h2>
<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <app-create-diagnosis [formGroup]="form"></app-create-diagnosis>
  <div mat-dialog-actions>
    <button (click)="dialogRef.close()"
            mat-button
            type="button">Скасувати
    </button>
    <button cdkFocusInitial mat-button>Зберегти</button>
  </div>
</form>
