<h2>Результат аналізу</h2>
<h3>{{analysis.type}}</h3>
<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <!--    Description  -->
  <mat-form-field class="full-width">
    <mat-label>Опис</mat-label>
    <textarea aria-label="Професія"
              formControlName="description"
              matInput
              rows="3"></textarea>
    <mat-error *ngIf="getErrors('description') as errors">
        <span *ngIf="errors.maxlength">
          Значення завелике. Максимум: {{errors.maxlength.requiredLength}}
        </span>
      <span *ngIf="errors.required">
          Поле обов'язкове
        </span>
    </mat-error>
  </mat-form-field>
  <!--  Conclusion -->
  <mat-form-field class="full-width">
    <mat-label>Висновок</mat-label>
    <input aria-label="Професія"
           formControlName="conclusion"
           matInput/>
    <mat-error *ngIf="getErrors('conclusion') as errors">
        <span *ngIf="errors.maxlength">
          Значення завелике. Максимум: {{errors.maxlength.requiredLength}}
        </span>
      <span *ngIf="errors.required">
          Поле обов'язкове
        </span>
    </mat-error>
  </mat-form-field>
  <div mat-dialog-actions>
    <button (click)="dialogRef.close()"
            mat-button
            type="button">Скасувати
    </button>
    <button cdkFocusInitial mat-button>Зберегти</button>
  </div>
</form>
