.full-width {
  width: 100%;
}

.mat-radio-button {
  margin-right: 8px;
}

.mat-radio-group {
  display: block;
  margin-bottom: 8px;
}

.remove-btn {
  color: crimson;
}

.add-btn {
  color: limegreen;
}
