<h2>Щоденник</h2>
<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <!--  Condition -->
  <mat-radio-group aria-label="огляд"
                   class="full-width"
                   formControlName="condition">
    <mat-label>Загальний стан</mat-label>
    <br>
    <mat-radio-button *ngFor="let item of CONDITIONS"
                      [value]="item[0]">
      {{item[1]}}
    </mat-radio-button>
    <mat-error *ngIf="getErrors('condition')">
      <span *ngIf="getErrors('condition').required">
                Поле обов'язкове
              </span>
    </mat-error>
  </mat-radio-group>
  <!--    Temperature  -->
  <mat-form-field class="full-width">
    <mat-label>Температура</mat-label>
    <input aria-label="Професія"
           formControlName="temperature"
           matInput>
    <mat-error *ngIf="getErrors('temperature')">
        <span *ngIf="getErrors('temperature').min">
          Значення замале. Мінімум: {{getErrors('temperature').min.min}}
        </span>
    </mat-error>
  </mat-form-field>
  <!--    Respiratory Rate  -->
  <mat-form-field class="full-width">
    <mat-label>Частота дихання</mat-label>
    <input aria-label="Професія"
           formControlName="respiratoryRate"
           matInput>
    <mat-error *ngIf="getErrors('respiratoryRate')">
        <span *ngIf="getErrors('respiratoryRate').min">
          Значення замале. Мінімум: {{getErrors('respiratoryRate').min.min}}
        </span>
    </mat-error>
  </mat-form-field>
  <!--    Heart Rate  -->
  <mat-form-field class="full-width">
    <mat-label>Пульс</mat-label>
    <input aria-label="Професія"
           formControlName="heartRate"
           matInput>
    <mat-error *ngIf="getErrors('heartRate')">
        <span *ngIf="getErrors('heartRate').min">
          Значення замале. Мінімум: {{getErrors('heartRate').min.min}}
        </span>
    </mat-error>
  </mat-form-field>
  <!--    Blood Pressure  -->
  <mat-form-field class="full-width">
    <mat-label>Тиск</mat-label>
    <input [formControl]="bloodPressure"
           aria-label="Професія"
           matInput
           placeholder="сис/діа">
    <mat-error *ngIf="bloodPressure.errors">
      Поле заповнено невірно
    </mat-error>
  </mat-form-field>
  <!-- Complaints -->
  <mat-form-field class="full-width">
    <mat-label>Скарги</mat-label>
    <input aria-label="Основне"
           formControlName="complaints"
           matInput>
    <mat-error *ngIf="getErrors('complaints')">
              <span *ngIf="getErrors('complaints').maxlength">
                Поле завелике. Максимум: {{getErrors('complaints').maxlength.requiredLength}}
              </span>
    </mat-error>
  </mat-form-field>
  <!-- Examination -->
  <mat-form-field class="full-width">
    <mat-label>Огляд</mat-label>
    <input aria-label="Основне"
           formControlName="examination"
           matInput>
    <mat-error *ngIf="getErrors('examination')">
              <span *ngIf="getErrors('examination').maxlength">
                Поле завелике. Максимум: {{getErrors('examination').maxlength.requiredLength}}
              </span>
    </mat-error>
  </mat-form-field>
  <!--   Treatment -->
  <div formArrayName="treatments">
    <h3>Лікування</h3>
    <button (click)="addTreatment()" class="add-btn"
            mat-icon-button>
      <mat-icon>add_circle_outline</mat-icon>
    </button>
    <button (click)="removeTreatment()" class="remove-btn"
            mat-icon-button>
      <mat-icon>remove_circle_outline</mat-icon>
    </button>
    <mat-form-field *ngFor="let c of getArray('treatments').controls; index as i"
                    class="full-width">
      <mat-label>#{{i + 1}}</mat-label>
      <input [formControlName]="i"
             aria-label="Основне"
             matInput>
      <mat-error *ngIf="getErrors('treatments.' + i)">
              <span *ngIf="getErrors('treatments.'+ i).maxlength">
                Поле завелике. Максимум: {{getErrors('treatments.' + i).maxlength.requiredLength}}
              </span>
        <span *ngIf="getErrors('treatments.'+ i).required">
          Поле обов'язкове
              </span>
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button (click)="dialogRef.close()"
            mat-button
            type="button">Скасувати
    </button>
    <button cdkFocusInitial mat-button>Зберегти</button>
  </div>
</form>
