<h2>Епікриз</h2>
<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <!--  Type -->
  <mat-radio-group aria-label="огляд"
                   class="full-width"
                   formControlName="type">
    <mat-label>Тип епікризу</mat-label>
    <br>
    <mat-radio-button *ngFor="let item of TYPES"
                      [value]="item[0]">
      {{item[1]}}
    </mat-radio-button>
    <mat-error *ngIf="getErrors('type')">
      <span *ngIf="getErrors('type').required">
                Поле обов'язкове
              </span>
    </mat-error>
  </mat-radio-group>
  <!--  Condition -->
  <mat-radio-group aria-label="огляд"
                   class="full-width"
                   formControlName="condition">
    <mat-label>Загальний стан</mat-label>
    <br>
    <mat-radio-button *ngFor="let item of CONDITIONS"
                      [value]="item[0]">
      {{item[1]}}
    </mat-radio-button>
    <mat-error *ngIf="getErrors('condition')">
      <span *ngIf="getErrors('condition').required">
                Поле обов'язкове
              </span>
    </mat-error>
  </mat-radio-group>
  <!--    Recommendation  -->
  <mat-form-field class="full-width">
    <mat-label>Рекомендації</mat-label>
    <textarea aria-label="Професія"
              formControlName="recommendation"
              matInput
              rows="5"></textarea>
    <mat-error *ngIf="getErrors('recommendation')">
        <span *ngIf="getErrors('recommendation').maxlength">
          Значення завелике. Максимум: {{getErrors('recommendation').maxlength.requiredLength}}
        </span>
      <span *ngIf="getErrors('recommendation').required">
          Поле обов'язкове
        </span>
    </mat-error>
  </mat-form-field>
  <div mat-dialog-actions>
    <button (click)="dialogRef.close()"
            mat-button
            type="button">Скасувати
    </button>
    <button cdkFocusInitial mat-button>Зберегти</button>
  </div>
</form>
