.mat-divider {
  margin: 8px 0;
}

.list-item {
  margin-bottom: 8px;
}

.title-group {
  text-align: center;
  font-size: 1.4em;
}

.get-pdf-button {
  position: absolute;
  right: 16px;
}

.no-hospitalizations-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-holder {
  width: 100%;
  font-size: 1.1em;
}

.info-item-name {
  font-weight: bold;
}

.info-item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
