<a #downloadPdfLink class="download-pdf-link"
   style="display: none"></a>
<mat-accordion>
    <div *ngFor="let h of hospitalizations">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{h.hospitalizationDate | date: 'longDate'}}
                </mat-panel-title>
                <mat-panel-description>
                    {{getDisease(h)}}
                </mat-panel-description>
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
                <button (click)="getPdf(h.uuid)" [disabled]="!h.extractDate" class="get-pdf-button"
                        color="accent"
                        mat-raised-button>
                    Завантажити
                    <mat-icon>picture_as_pdf</mat-icon>
                </button>
                <h3 class="title-group">Паспортні дані</h3>
                <app-patient-info [patient]="patient"></app-patient-info>
                <mat-divider></mat-divider>
                <h3 class="title-group">Дані госпіталізації</h3>
                <app-hospitalization-info [hospitalization]="h"></app-hospitalization-info>
                <mat-divider></mat-divider>
                <h3 class="title-group">Анамнези</h3>
                <div *ngFor="let a of h.anamneses"
                     class="list-item">
                    <app-anamnesis-info [anamnesis]="a"></app-anamnesis-info>
                    <mat-divider></mat-divider>
                </div>
                <h3 class="title-group">Загальний огляд</h3>
                <app-general-examination-info [info]="h.generalExamination">
                </app-general-examination-info>
                <mat-divider></mat-divider>
                <h3 class="title-group">Детальний огляд</h3>
                <div *ngFor="let d of h.detailedExaminations"
                     class="list-item">
                    <app-detailed-examination-info [info]="d"></app-detailed-examination-info>
                </div>
                <mat-divider></mat-divider>
                <h3 class="title-group">Аналізи</h3>
                <div *ngFor="let a of h.analyses"
                     class="list-item">
                    <app-analysis-info [analysis]="a"></app-analysis-info>
                    <mat-divider></mat-divider>
                </div>
                <h3 class="title-group">Щоденник</h3>
                <app-diary-info [diaries]="h.diaries">
                </app-diary-info>
                <mat-divider></mat-divider>
                <h3 class="title-group">Діагнози</h3>
                <div *ngFor="let d of h.diagnoses"
                     class="list-item">
                    <app-diagnosis-info [info]="d"></app-diagnosis-info>
                </div>
                <mat-divider></mat-divider>
                <h3 class="title-group">Лікування</h3>
                <app-treatment-info *ngIf="h.treatment" [info]="h.treatment"></app-treatment-info>
                <div *ngIf="h.epicrisis as ep">
                    <mat-divider></mat-divider>
                    <h3 class="title-group">Епікриз</h3>
                    <div class="info-holder">
                        <div class="info-item">
                            <span class="info-item-name">Тип: </span>{{EPICRISES.get(ep.type)}}
                        </div>
                        <div class="info-item">
                            <span class="info-item-name">Стани: </span>{{CONDITIONS.get(ep.condition)}}
                        </div>
                        <div class="info-item">
                            <span class="info-item-name">Рекомендації: </span>{{ep.recommendation}}
                        </div>
                    </div>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </div>
    <div *ngIf="!hospitalizations || hospitalizations.length === 0" class="no-hospitalizations-message">
        <h3>Архів для обраного пацієнта пустий</h3>
    </div>
</mat-accordion>
