<table [dataSource]="data" class="example-table" mat-table>
  <ng-container matColumnDef="city">
    <th *matHeaderCellDef mat-header-cell>Місто</th>
    <td *matCellDef="let row" mat-cell>{{row.city}}</td>
  </ng-container>

  <ng-container matColumnDef="disease">
    <th *matHeaderCellDef mat-header-cell>Хвороба</th>
    <td *matCellDef="let row" mat-cell>{{row.disease}}</td>
  </ng-container>

  <ng-container matColumnDef="count">
    <th *matHeaderCellDef mat-header-cell>Кількість хворих</th>
    <td *matCellDef="let row" mat-cell>{{row.count}}</td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
