<div>
  <div class="title-list">
    <h3>Список пацієнтів</h3>
  </div>
  <mat-list role="list">
    <mat-list-item (click)="onPatientClick(p.uuid)" *ngFor="let p of patients"
                   role="listitem">
      <mat-icon mat-list-icon>person</mat-icon>
      <div mat-line>{{p.lastName}} {{p.firstName}} {{p.middleName}}</div>
    </mat-list-item>
  </mat-list>
  <div *ngIf="!patients || patients.length === 0"
       class="no-patients-message">
    <h3>У вас немає активних пацієнтів</h3>
  </div>
</div>
