.title-list {
  text-align: center;

  h3 {
    font-size: 1.4em;
  }
}

.mat-list-item {
  &:hover {
    background-color: lightgray;
    cursor: pointer;
  }
}

.no-patients-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  text-align: center;

  h3 {
    font-size: 1.4em;
  }
}
