<div>
  <mat-form-field appearance="outline"
                  class="full-width">
    <mat-label>Прізвище Ім'я По-батькові</mat-label>
    <input (ngModelChange)="searchParam$.next($event)"
           [matAutocomplete]="auto"
           [ngModel]="value"
           aria-label="ПІБ"
           matInput
           placeholder="Почніть вводити ПІБ пацієнта"
           type="text">
    <button (click)="clear()" aria-label="Очистити" class="clear-btn" mat-button mat-icon-button
            matSuffix>
      <mat-icon>close</mat-icon>
    </button>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option (onSelectionChange)="patientSelect.emit(p)"
                  *ngFor="let p of filteredValues | async"
                  [value]="p.lastName + ' ' + p.firstName + ' ' + p.middleName">
        <span class="left-place">{{p.lastName}} {{p.firstName}} {{p.middleName}}</span>
        <span class="right-place">{{p.birthday | date:'yyyy-MM-dd'}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
