<div class="action-bar full-width">
  <button (click)="createDoc()" class="add-btn"
          mat-raised-button
          type="button">
    Додати
    <mat-icon>add_circle_outline</mat-icon>
  </button>
</div>
<div class="example-container mat-elevation-z8">
  <div class="example-table-container">

    <table [dataSource]="data" class="example-table" mat-table>
      <!-- Full Name Column -->
      <ng-container matColumnDef="fullName">
        <th *matHeaderCellDef mat-header-cell>Ім'я</th>
        <td *matCellDef="let row" mat-cell>{{row.lastName + ' ' + row.firstName + ' ' + row.middleName}}</td>
      </ng-container>

      <!-- Phone Column -->
      <ng-container matColumnDef="phone">
        <th *matHeaderCellDef mat-header-cell>Телефон</th>
        <td *matCellDef="let row" mat-cell>{{row.phone}}</td>
      </ng-container>

      <ng-container matColumnDef="specialization">
        <th *matHeaderCellDef mat-header-cell>Спеціальність</th>
        <td *matCellDef="let row" mat-cell>{{row.specialization}}</td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th *matHeaderCellDef mat-header-cell>
          Логін
        </th>
        <td *matCellDef="let row" mat-cell>{{row.username}}</td>
      </ng-container>

      <ng-container matColumnDef="isMainDoc">
        <th *matHeaderCellDef mat-header-cell>
          Головний лікар
        </th>
        <td *matCellDef="let row" mat-cell>
          <mat-slide-toggle (change)="onMainDocChange($event.checked, row.uuid)"
                            [checked]="row.isMainDoc"></mat-slide-toggle>
        </td>
      </ng-container>

      <ng-container matColumnDef="active">
        <th *matHeaderCellDef mat-header-cell>
          Активний
        </th>
        <td *matCellDef="let row" mat-cell>
          <mat-slide-toggle (change)="onSetActive($event.checked, row.uuid)"
                            [checked]="row.active"></mat-slide-toggle>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>

  <mat-paginator [length]="totalItems" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
</div>
