<h2>Лікування</h2>
<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <!--    Prescribed  -->
  <mat-form-field class="full-width">
    <mat-label>Призначене</mat-label>
    <textarea aria-label="Професія"
              formControlName="prescribed"
              matInput
              rows="5"></textarea>
    <mat-error *ngIf="getErrors('prescribed')">
        <span *ngIf="getErrors('prescribed').maxlength">
          Значення завелике. Максимум: {{getErrors('prescribed').maxlength.requiredLength}}
        </span>
      <span *ngIf="getErrors('prescribed').required">
          Поле обов'язкове
        </span>
    </mat-error>
  </mat-form-field>
  <!--    Medicines  -->
  <mat-form-field class="full-width">
    <mat-label>Ліки</mat-label>
    <textarea aria-label="Професія"
              formControlName="medicines"
              matInput
              rows="5"></textarea>
    <mat-error *ngIf="getErrors('medicines')">
        <span *ngIf="getErrors('medicines').maxlength">
          Значення завелике. Максимум: {{getErrors('medicines').maxlength.requiredLength}}
        </span>
    </mat-error>
  </mat-form-field>
  <div mat-dialog-actions>
    <button (click)="dialogRef.close()"
            mat-button
            type="button">Скасувати
    </button>
    <button cdkFocusInitial mat-button>Зберегти</button>
  </div>
</form>
