<div>
    <div class="action-bar full-width">
        <button (click)="addComplaint()" class="add-btn"
                mat-stroked-button
                type="button">
            Додати
            <mat-icon>add_circle_outline</mat-icon>
        </button>
    </div>
    <div *ngFor="let control of controls; index as i"
         [formGroup]="control">
        <mat-divider></mat-divider>
        <h4 class="complaint-title">
            <span>#{{i + 1}}</span>
            <button (click)="removeComplaint(i)"
                    *ngIf="formArray.controls.length !== 1"
                    aria-label="Забрати скаргу"
                    class="remove-btn"
                    mat-button
                    type="button">
                Забрати
                <mat-icon>remove_circle_outline</mat-icon>
            </button>
        </h4>
        <!--  Start Date  -->
        <app-date-input [control]="getControl(i, 'startDate')"
                        [max]="today"
                        label="Дата початку">
        </app-date-input>
        <!--   Description  -->
        <mat-form-field class="full-width">
            <mat-label>Опис</mat-label>
            <input aria-label="Опис"
                   formControlName="description"
                   matInput/>
            <mat-error *ngIf="getErrors(i,'description')">
              <span *ngIf="getErrors(i,'description').maxlength">
                Опис завеликий. Максимум: {{getErrors(i, 'description').maxlength.requiredLength}}
              </span>
                <span *ngIf="getErrors(i,'description').required">
                Поле обов'язкове
              </span>
            </mat-error>
        </mat-form-field>
        <!--  Organ system  -->
        <mat-form-field class="full-width">
            <mat-label>Система органів</mat-label>
            <mat-select formControlName="organSystem">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let os of organSystems | async" [value]="os">
                    {{os}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="getErrors(i, 'organSystem')">
        <span *ngIf="getErrors(i, 'organSystem').required">
                Поле обов'язкове
              </span>
            </mat-error>
        </mat-form-field>
    </div>
</div>
