.tab-content {
  padding: 16px;
}

.mat-divider {
  margin: 8px 0;
}

.list-item {
  margin-bottom: 8px;
}

.toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.content {
  margin-bottom: 64px;
}
