<a #downloadPdfLink class="download-pdf-link"></a>
<mat-tab-group class="content"
               mat-stretch-tabs>
    <mat-tab label="Загальна інформація">
        <ng-template matTabContent>
            <div class="tab-content">
                <app-patient-info [patient]="patient"></app-patient-info>
                <mat-divider></mat-divider>
                <app-hospitalization-info [hospitalization]="hospitalization"></app-hospitalization-info>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="Анамнези">
        <ng-template matTabContent>
            <div class="tab-content">
                <div *ngFor="let a of hospitalization.anamneses"
                     class="list-item">
                    <app-anamnesis-info [anamnesis]="a"></app-anamnesis-info>
                    <mat-divider></mat-divider>
                </div>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="Загальний огляд">
        <ng-template matTabContent>
            <div class="tab-content">
                <app-general-examination-info [info]="hospitalization.generalExamination">
                </app-general-examination-info>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="Детальний огляд">
        <ng-template matTabContent>
            <div class="tab-content">
                <div *ngFor="let d of hospitalization.detailedExaminations"
                     class="list-item">
                    <app-detailed-examination-info [info]="d"></app-detailed-examination-info>
                    <mat-divider></mat-divider>
                </div>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="Обстеження">
        <ng-template matTabContent>
            <div class="tab-content">
                <div *ngFor="let a of hospitalization.analyses"
                     class="list-item">
                    <app-analysis-info [analysis]="a"></app-analysis-info>
                    <mat-divider></mat-divider>
                </div>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="Щоденник">
        <ng-template matTabContent>
            <div class="tab-content">
                <app-diary-info [diaries]="hospitalization.diaries">
                </app-diary-info>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="Діагнози">
        <ng-template matTabContent>
            <div class="tab-content">
                <div *ngFor="let d of hospitalization.diagnoses"
                     class="list-item">
                    <app-diagnosis-info [info]="d"></app-diagnosis-info>
                    <mat-divider></mat-divider>
                </div>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="Лікування">
        <ng-template matTabContent>
            <div class="tab-content">
                <app-treatment-info *ngIf="hospitalization.treatment"
                                    [info]="hospitalization.treatment"></app-treatment-info>
            </div>
        </ng-template>
    </mat-tab>
</mat-tab-group>
<app-toolbar (analysisClick)="onAnalysisClick()"
             (diagnosisClick)="onDiagnosisClick()"
             (diaryClick)="onDiaryClick()"
             (epicrisisClick)="onEpicrisisClick()"
             (treatmentClick)="onTreatmentClick()"
             [showDiagnosis]="showDiagnosis"
             [showEpicrisis]="showEpicrisis"
             [showTreatment]="showTreatment"
             class="toolbar"></app-toolbar>
