<div class="content">
  <div class="patient-info">
    <app-patient-info [patient]="patient"></app-patient-info>
  </div>
  <div class="form-content">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <mat-vertical-stepper linear>
        <!--   General hospitalization data   -->
        <mat-step [stepControl]="generalDataControl" label="Загальні дані">
          <!--   Hospitalization date  -->
          <mat-form-field class="full-width">
            <mat-label>Дата госпіталізації</mat-label>
            <input [matDatepicker]="hospitalizationDatePicker"
                   [max]="today"
                   aria-label="Дата госпіталізації"
                   formControlName="hospitalizationDate"
                   matInput
                   placeholder="yyyy-mm-dd">
            <mat-datepicker-toggle [for]="hospitalizationDatePicker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #hospitalizationDateId></mat-datepicker>
            <mat-error *ngIf="getErrors('hospitalizationDate')">
                  <span *ngIf="getErrors('hospitalizationDate').required">
                        Поле обов'язкове
                  </span>
            </mat-error>
          </mat-form-field>
          <!--   Disease date  -->
          <mat-form-field class="full-width">
            <mat-label>Дата хвороби</mat-label>
            <input [matDatepicker]="diseaseDatePicker"
                   [max]="today"
                   aria-label="Дата хвороби"
                   formControlName="diseaseDate"
                   matInput
                   placeholder="yyyy-mm-dd">
            <mat-datepicker-toggle [for]="diseaseDatePicker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #diseaseDateId></mat-datepicker>
            <mat-error *ngIf="getErrors('diseaseDate')">
                  <span *ngIf="getErrors('diseaseDate').required">
                        Поле обов'язкове
                  </span>
            </mat-error>
          </mat-form-field>
          <!--    Employment  -->
          <mat-form-field class="full-width">
            <mat-label>Професія(посада, місце праці, навчання)</mat-label>
            <input aria-label="Професія"
                   formControlName="employment"
                   matInput>
            <mat-error *ngIf="getErrors('employment')">
              <span *ngIf="getErrors('employment').maxlength">
                Професія завелика. Максимум: {{getErrors('employment').maxlength.requiredLength}}
              </span>
              <span *ngIf="getErrors('employment').required">
                Поле обов'язкове
              </span>
            </mat-error>
          </mat-form-field>
          <!--  Hospitalization type -->
          <mat-radio-group aria-label="Тип госпіталізації"
                           class="full-width"
                           formControlName="type">
            <mat-label>Тип госпіталізації</mat-label>
            <br>
            <mat-radio-button [value]="TYPES.planned">Планова</mat-radio-button>
            <mat-radio-button [value]="TYPES.urgent">Ургентна</mat-radio-button>
          </mat-radio-group>
          <!--    Referral  -->
          <mat-form-field class="full-width">
            <mat-label>Ким скеровано</mat-label>
            <input aria-label="Скерування"
                   formControlName="referral"
                   matInput>
            <mat-error *ngIf="getErrors('referral')">
              <span *ngIf="getErrors('referral').maxlength">
                Скерування завелике. Максимум: {{getErrors('referral').maxlength.requiredLength}}
              </span>
              <span *ngIf="getErrors('referral').required">
                Поле обов'язкове
              </span>
            </mat-error>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext type="button">Далі</button>
          </div>
        </mat-step>
        <!--   Admittance diagnosis   -->
        <mat-step [stepControl]="getGroup('admittanceDiagnosis')"
                  label="Діагноз поступлення в лікарню">
          <app-create-diagnosis [formGroup]="getGroup('admittanceDiagnosis')">
          </app-create-diagnosis>
          <div>
            <button mat-button matStepperPrevious type="button">Повернутись</button>
            <button mat-button matStepperNext type="button">Далі</button>
          </div>
        </mat-step>
        <!--   Complaints   -->
        <mat-step [stepControl]="getArray('complaints')" label="Скарги">
          <app-create-complaints [formArray]="getArray('complaints')"></app-create-complaints>
          <div>
            <button mat-button matStepperPrevious type="button">Повернутись</button>
            <button mat-button matStepperNext type="button">Далі</button>
          </div>
        </mat-step>
        <!--   Disease anamnesis   -->
        <mat-step [stepControl]="getGroup('diseaseAnamnesis')"
                  label="Анамнез хвороби">
          <app-create-anamnesis [formGroup]="getGroup('diseaseAnamnesis')"></app-create-anamnesis>
          <div>
            <button mat-button matStepperPrevious type="button">Повернутись</button>
            <button mat-button matStepperNext type="button">Далі</button>
          </div>
        </mat-step>
        <!--   Life anamnesis   -->
        <mat-step [stepControl]="getGroup('lifeAnamnesis')"
                  label="Анамнез життя">
          <app-create-anamnesis [formGroup]="getGroup('lifeAnamnesis')"></app-create-anamnesis>
          <div>
            <button mat-button matStepperPrevious type="button">Повернутись</button>
            <button mat-button matStepperNext type="button">Далі</button>
          </div>
        </mat-step>
        <!--   Epidemic anamnesis   -->
        <mat-step [stepControl]="getGroup('epidemicAnamnesis')"
                  label="Епідеміологічний анамнез">
          <app-create-anamnesis [formGroup]="getGroup('epidemicAnamnesis')"></app-create-anamnesis>
          <div>
            <button mat-button matStepperPrevious type="button">Повернутись</button>
            <button mat-button matStepperNext type="button">Далі</button>
          </div>
        </mat-step>
        <!--   Allergic anamnesis   -->
        <mat-step [stepControl]="getGroup('allergicAnamnesis')"
                  label="Алергологічний анамнез">
          <app-create-anamnesis [formGroup]="getGroup('allergicAnamnesis')"></app-create-anamnesis>
          <div>
            <button mat-button matStepperPrevious type="button">Повернутись</button>
            <button mat-button matStepperNext type="button">Далі</button>
          </div>
        </mat-step>
        <!--  General examination  -->
        <mat-step [stepControl]="getGroup('generalExamination')"
                  label="Загальний огляд">
          <app-create-general-examination [formGroup]="getGroup('generalExamination')">
          </app-create-general-examination>
          <div>
            <button mat-button matStepperPrevious type="button">Повернутись</button>
            <button mat-button matStepperNext type="button">Далі</button>
          </div>
        </mat-step>
        <!--   Detailed examinations   -->
        <mat-step [stepControl]="getArray('detailedExaminations')"
                  label="Детальний огляд" optional>
          <app-create-detailed-examination-list [formArray]="getArray('detailedExaminations')">
          </app-create-detailed-examination-list>
          <div>
            <button mat-button matStepperPrevious type="button">Повернутись</button>
            <button mat-button matStepperNext type="button">Далі</button>
          </div>
        </mat-step>
        <!--   Preliminary diagnosis   -->
        <mat-step [stepControl]="getControl('preliminaryDiagnosis')"
                  label="Попередній діагноз">
          <app-create-diagnosis [formGroup]="getGroup('preliminaryDiagnosis')">
          </app-create-diagnosis>
          <div>
            <button mat-button matStepperPrevious type="button">Повернутись</button>
            <button mat-button matStepperNext type="button">Далі</button>
          </div>
        </mat-step>
        <!--   Analyses   -->
        <mat-step [stepControl]="getArray('analyses')"
                  label="План обстеження" optional>
          <app-create-analysis-list [formArray]="getArray('analyses')">
          </app-create-analysis-list>
          <div>
            <button mat-button matStepperPrevious type="button">Повернутись</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
      <div class="action-bar">
        <button color="primary" mat-raised-button>
          Госпіталізувати
        </button>
      </div>
    </form>
  </div>
</div>
