.full-width {
  width: 100%;
}

.mat-radio-button {
  margin-right: 8px;
}

.action-bar {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  align-items: flex-start;
}

.patient-info {
  left: 0;
  top: 10%;
  position: sticky;
  padding: 16px;
}

.form-content {
  border-left: 1px solid lightgray;
  flex-grow: 1;
}
