<mat-form-field class="full-width">
  <mat-label>{{label}}</mat-label>
  <input
    [formControl]="control"
    [matDatepicker]="datepicker"
    [max]="max"
    aria-label="Дата"
    matInput
    placeholder="yyyy-mm-dd">
  <mat-datepicker-toggle [for]="datepicker" matSuffix></mat-datepicker-toggle>
  <mat-datepicker></mat-datepicker>
  <mat-error *ngIf="control.errors">
        <span *ngIf="control.errors.required">
                Поле обов'язкове
        </span>
  </mat-error>
</mat-form-field>
