<div [formGroup]="formGroup">
  <!--  Condition -->
  <mat-radio-group aria-label="огляд"
                   class="full-width"
                   formControlName="condition">
    <mat-label>Загальний стан</mat-label>
    <br>
    <mat-radio-button *ngFor="let item of CONDITIONS"
                      [value]="item[0]">
      {{item[1]}}
    </mat-radio-button>
    <mat-error *ngIf="getErrors('condition') as err">
      <span *ngIf="err.required">
                Поле обов'язкове
              </span>
    </mat-error>
  </mat-radio-group>
  <!--   Consciousness   -->
  <mat-radio-group aria-label="огляд"
                   class="full-width"
                   formControlName="consciousness">
    <mat-label>Свідомість</mat-label>
    <br>
    <mat-radio-button *ngFor="let item of CONSCIOUSNESSES"
                      [value]="item[0]">
      {{item[1]}}
    </mat-radio-button>
    <mat-error *ngIf="getErrors('consciousness') as err">
      <span *ngIf="err.required">
                Поле обов'язкове
              </span>
    </mat-error>
  </mat-radio-group>
  <!--    Position  -->
  <mat-form-field class="full-width">
    <mat-label>Положення: активне, пасивне, вимушене(зазначити яке)</mat-label>
    <input aria-label="Професія"
           formControlName="position"
           matInput>
    <mat-error *ngIf="getErrors('position') as err">
              <span *ngIf="err.maxlength">
                Поле завелике. Максимум: {{err.maxlength.requiredLength}}
              </span>
      <span *ngIf="err.required">
                Поле обов'язкове
              </span>
    </mat-error>
  </mat-form-field>
  <!--     Is Body Proportional  -->
  <mat-radio-group aria-label="огляд"
                   class="full-width"
                   formControlName="isBodyProportional">
    <mat-label>Будова тіла</mat-label>
    <br>
    <mat-radio-button [value]="true">Пропорційна</mat-radio-button>
    <mat-radio-button [value]="false">Непропорційна</mat-radio-button>
    <mat-error *ngIf="getErrors('isBodyProportional') as err">
      <span *ngIf="err.required">
                Поле обов'язкове
              </span>
    </mat-error>
  </mat-radio-group>
  <!--   Сonstitution   -->
  <mat-radio-group aria-label="огляд"
                   class="full-width"
                   formControlName="constitution">
    <mat-label>Конституція</mat-label>
    <br>
    <mat-radio-button *ngFor="let item of CONSTITUTIONS"
                      [value]="item[0]">
      {{item[1]}}
    </mat-radio-button>
    <mat-error *ngIf="getErrors('constitution') as err">
      <span *ngIf="err.required">
                Поле обов'язкове
              </span>
    </mat-error>
  </mat-radio-group>
  <!--    Height  -->
  <mat-form-field class="full-width">
    <mat-label>Ріст (cм)</mat-label>
    <input aria-label="Професія"
           formControlName="height"
           matInput>
    <mat-error *ngIf="getErrors('height') as err">
        <span *ngIf="err.min">
          Значення замале. Мінімум: {{err.min.min}}
        </span>
    </mat-error>
  </mat-form-field>
  <!--    Weight   -->
  <mat-form-field class="full-width">
    <mat-label>Маса тіла (кг)</mat-label>
    <input aria-label="Професія"
           formControlName="weight"
           matInput>
    <mat-error *ngIf="getErrors('weight') as err">
        <span *ngIf="err.min">
          Значення замале. Мінімум: {{err.min.min}}
        </span>
    </mat-error>
  </mat-form-field>
  <!--   Tone   -->
  <mat-radio-group aria-label="огляд"
                   class="full-width"
                   formControlName="tone">
    <mat-label>Тонус</mat-label>
    <br>
    <mat-radio-button *ngFor="let item of TONES"
                      [value]="item[0]">
      {{item[1]}}
    </mat-radio-button>
  </mat-radio-group>
  <!--   Temperature   -->
  <mat-radio-group aria-label="огляд"
                   class="full-width"
                   formControlName="temperature">
    <mat-label>Температура</mat-label>
    <br>
    <mat-radio-button *ngFor="let item of TEMPERATURES"
                      [value]="item[0]">
      {{item[1]}}
    </mat-radio-button>
    <mat-error *ngIf="getErrors('temperature') as err">
      <span *ngIf="err.required">
                Поле обов'язкове
              </span>
    </mat-error>
  </mat-radio-group>
</div>
