<h2>Призначити лікаря</h2>
<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <!--    LAST NAME  -->
  <mat-form-field class="full-width">
    <mat-label>Прізвище</mat-label>
    <input aria-label="Прізвище"
           formControlName="lastName"
           matInput>
    <mat-error *ngIf="getErrors('lastName') as err">
              <span *ngIf="err.maxlength">
                Прізвище завелике. Максимум: {{err.maxlength.requiredLength}}
              </span>
      <span *ngIf="err.required">
                Поле обов'язкове
              </span>
    </mat-error>
  </mat-form-field>
  <!--    FIRST NAME  -->
  <mat-form-field class="full-width">
    <mat-label>Ім'я</mat-label>
    <input aria-label="Ім'я"
           formControlName="firstName"
           matInput>
    <mat-error *ngIf="getErrors('firstName') as err">
              <span *ngIf="err.maxlength">
                Ім'я завелике. Максимум: {{err.maxlength.requiredLength}}
              </span>
      <span *ngIf="err.required">
                Поле обов'язкове
              </span>
    </mat-error>
  </mat-form-field>
  <!--    MIDDLE NAME  -->
  <mat-form-field class="full-width">
    <mat-label>По-батькові</mat-label>
    <input aria-label="По-батькові"
           formControlName="middleName"
           matInput>
    <mat-error *ngIf="getErrors('middleName') as err">
              <span *ngIf="err.maxlength">
                По-батькові завелике. Максимум: {{err.maxlength.requiredLength}}
              </span>
    </mat-error>
  </mat-form-field>
  <!--  PHONE -->
  <mat-form-field class="full-width">
    <mat-label>Телефон</mat-label>
    <input [appPhone]="getControl('phone')"
           aria-label="Телефон"
           formControlName="phone"
           matInput
           placeholder="(xxx) xxx-xx-xx">
    <mat-error *ngIf="getErrors('phone') as err">
              <span *ngIf="err.maxlength">
                Телефон завеликий. Максимум: {{err.maxlength.requiredLength}}
              </span>
      <span *ngIf="err.minlength">
                Телефон замалий. Мінімум: {{err.minlength.requiredLength}}
              </span>
      <span *ngIf="err.required">
                Поле обов'язкове
              </span>
    </mat-error>
  </mat-form-field>
  <!--    Username  -->
  <mat-form-field class="full-width">
    <mat-label>Логін</mat-label>
    <input aria-label="По-батькові"
           formControlName="username"
           matInput>
    <mat-error *ngIf="getErrors('username') as err">
              <span *ngIf="err.minlength">
                Поле замале. Мінімум: {{err.minlength.requiredLength}}
              </span>
      <span *ngIf="err.maxlength">
                Поле завелике. Максимум: {{err.maxlength.requiredLength}}
              </span>
      <span *ngIf="err.required">
                Поле обов'язкове
              </span>
    </mat-error>
  </mat-form-field>
  <!--    Password  -->
  <mat-form-field class="full-width">
    <mat-label>Пароль</mat-label>
    <input aria-label="По-батькові"
           formControlName="password"
           matInput
           type="password">
    <mat-error *ngIf="getErrors('password') as err">
              <span *ngIf="err.minlength">
                Поле замале. Мінімум: {{err.minlength.requiredLength}}
              </span>
      <span *ngIf="err.maxlength">
                Поле завелике. Максимум: {{err.maxlength.requiredLength}}
              </span>
      <span *ngIf="err.required">
                Поле обов'язкове
              </span>
    </mat-error>
  </mat-form-field>
  <!--    Password Confirm  -->
  <mat-form-field class="full-width">
    <mat-label>Повторіть пароль</mat-label>
    <input aria-label="По-батькові"
           formControlName="confirmPassword"
           matInput
           type="password">
    <mat-error *ngIf="getErrors('confirmPassword')">
      Паролі не співпадають
    </mat-error>
  </mat-form-field>
  <!--    Specialization  -->
  <mat-form-field class="full-width">
    <mat-label>Спеціальність</mat-label>
    <input aria-label="По-батькові"
           formControlName="specialization"
           matInput>
    <mat-error *ngIf="getErrors('specialization') as err">
      <span *ngIf="err.maxlength">
                Поле завелике. Максимум: {{err.maxlength.requiredLength}}
              </span>
      <span *ngIf="err.required">
                Поле обов'язкове
              </span>
    </mat-error>
  </mat-form-field>
  <div class="full-width">
    <mat-slide-toggle formControlName="isMainDoc">Головний лікар</mat-slide-toggle>
    <div>Може призначати та звільняти лікарів та переглядати статистику</div>
  </div>
  <div mat-dialog-actions>
    <button (click)="dialogRef.close()"
            mat-button
            type="button">Скасувати
    </button>
    <button cdkFocusInitial mat-button>Зберегти</button>
  </div>
</form>
