<div class="info-holder">
  <div class="title-anamnesis">
    <h3>{{TYPES.get(info.type)}}</h3>
  </div>
  <div class="info-item">
    <span class="info-item-name">Дата: </span>{{info.date | date:'longDate'}}
  </div>
  <div class="info-item">
    <span class="info-item-name">Основне захворювання: </span>{{info.mainDisease}}
  </div>
  <div class="info-item">
    <span class="info-item-name">Ускладнення: </span>{{info.complicationDisease}}
  </div>
  <div class="info-item">
    <span class="info-item-name">Супутнє захворювання: </span>{{info.concomitantDisease}}
  </div>
  <div class="info-item">
    <span class="info-item-name">Опис: </span>{{info.description}}
  </div>
</div>
