.title-anamnesis {
  text-align: center;
}

.info-holder {
  width: 100%;
  font-size: 1.1em;
}

.info-item-name {
  font-weight: bold;
}

.info-item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
