<div [formGroup]="formGroup">
  <!--   Type  -->
  <mat-form-field class="full-width">
    <mat-label>Опис</mat-label>
    <textarea aria-label="Опис"
              formControlName="type"
              matInput
              rows="2"></textarea>
    <mat-error *ngIf="getErrors('type')">
              <span *ngIf="getErrors('type').maxlength">
                Опис завеликий. Максимум: {{getErrors('type').maxlength.requiredLength}}
              </span>
      <span *ngIf="getErrors('type').required">
                Поле обов'язкове
              </span>
    </mat-error>
  </mat-form-field>
</div>
