<div class="info-holder">
  <div class="info-item">
    <span class="info-item-name">Стан: </span>{{CONDITIONS.get(info.condition)}}
  </div>
  <div class="info-item">
    <span class="info-item-name">Свідомість: </span>{{CONSCIOUSNESSES.get(info.consciousness)}}
  </div>
  <div class="info-item">
    <span class="info-item-name">Положення: </span>{{info.position}}
  </div>
  <div class="info-item">
    <span class="info-item-name">Тіло пропорційне: </span>{{info.isBodyProportional ? 'Так' : 'Ні'}}
  </div>
  <div class="info-item">
    <span class="info-item-name">Конституція: </span>{{CONSTITUTIONS.get(info.constitution)}}
  </div>
  <div class="info-item">
    <span class="info-item-name">Зріст (см): </span>{{info.height}}
  </div>
  <div class="info-item">
    <span class="info-item-name">Вага (кг): </span>{{info.weight}}
  </div>
  <div class="info-item">
    <span class="info-item-name">Тонус: </span>{{TONES.get(info.tone)}}
  </div>
  <div class="info-item">
    <span class="info-item-name">Температура: </span>{{TEMPERATURES.get(info.temperature)}}
  </div>
</div>
