.header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  line-height: 50px;
  background: rgb(212, 212, 208);
  background: linear-gradient(90deg, rgba(212, 212, 208, 1) 0%, rgba(104, 190, 206, 1) 20%, rgba(104, 190, 206, 1) 80%, rgba(212, 212, 208, 1) 100%);
  z-index: 5;
}

.header-content {
  height: 100%;
  min-width: 800px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.link-item {
  &.tab:hover {
    cursor: pointer;
    background-color: rgba(112, 128, 144, 0.44);
  }

  mat-icon {
    font-size: 32px;
    width: 32px;
    height: 32px;
    transform: translateY(25%);
  }

  height: 100%;
  padding: 0 8px;
}

.stretch {
  flex-grow: 1;
  content: "";
}

.action-item {
  margin-left: 8px;
}
