<div class="header">
  <div class="header-content">
    <div class="link-item">
      <mat-icon>person</mat-icon>
      <span>{{fullName}}</span>
    </div>
    <!--   DOCTOR -->
    <div [routerLink]="[ROOT_PATH, ROUTING.MAIN, MAIN_ROUTING.DOCTOR, DOCTOR_ROUTING.HOSPITALIZATION]"
         *ngIf="showBtn('ROLE_DOCTOR')"
         class="link-item tab">
      <span>Мої Пацієнти</span>
    </div>
    <div [routerLink]="[ROOT_PATH, ROUTING.MAIN, MAIN_ROUTING.DOCTOR, DOCTOR_ROUTING.ARCHIVE]"
         *ngIf="showBtn('ROLE_DOCTOR')"
         class="link-item tab">
      <span>Архів</span>
    </div>
    <div [routerLink]="[ROOT_PATH, ROUTING.MAIN, MAIN_ROUTING.DOCTOR, DOCTOR_ROUTING.ANALYSES]"
         *ngIf="showBtn('ROLE_DOCTOR')"
         class="link-item tab">
      <span>Огляд</span>
    </div>
    <!--   MAIN DOCTOR -->
    <div [routerLink]="[ROOT_PATH, ROUTING.MAIN, MAIN_ROUTING.MAIN_DOC, MAIN_DOCTOR.DOCTORS]"
         *ngIf="showBtn('ROLE_MAIN_DOCTOR')"
         class="link-item tab">
      <span>Керування лікарями</span>
    </div>
    <div *ngIf="showBtn('ROLE_MAIN_DOCTOR')"
         [routerLink]="[ROOT_PATH, ROUTING.MAIN, MAIN_ROUTING.MAIN_DOC, MAIN_DOCTOR.REPORTS]"
         class="link-item tab">
      <span>Статистика</span>
    </div>
    <span class="stretch"></span>
    <button class="action-item" color="primary"
            *ngIf="showBtn('ROLE_DOCTOR')"
            [routerLink]="[ROOT_PATH, ROUTING.MAIN, MAIN_ROUTING.DOCTOR, DOCTOR_ROUTING.PATIENTS]"
            mat-flat-button>Госпіталізація
    </button>
    <button (click)="logout()" aria-label="logout"
            class="action-item"
            mat-icon-button>
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</div>
