<div [formGroup]="formGroup">
  <!--   Description  -->
  <mat-form-field class="full-width">
    <mat-label>Опис</mat-label>
    <textarea aria-label="Опис"
              formControlName="description"
              matInput
              rows="10"></textarea>
    <mat-error *ngIf="getErrors('description')">
              <span *ngIf="getErrors('description').maxlength">
                Опис завеликий. Максимум: {{getErrors('description').maxlength.requiredLength}}
              </span>
      <span *ngIf="getErrors('description').required">
                Поле обов'язкове
              </span>
    </mat-error>
  </mat-form-field>
  <!--  Date  -->
  <mat-form-field class="full-width">
    <mat-label>Дата діагнозу</mat-label>
    <input [matDatepicker]="datepicker"
           [max]="today"
           aria-label="Дата"
           formControlName="date"
           matInput
           placeholder="yyyy-mm-dd">
    <mat-datepicker-toggle [for]="datepicker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker></mat-datepicker>
    <mat-error *ngIf="getErrors('date')">
          <span *ngIf="getErrors('date').required">
                Поле обов'язкове
          </span>
    </mat-error>
  </mat-form-field>
  <!--    Main disease  -->
  <mat-form-field class="full-width">
    <mat-label>Основне захворювання</mat-label>
    <input aria-label="Основне"
           formControlName="mainDisease"
           matInput>
    <mat-error *ngIf="getErrors('mainDisease')">
              <span *ngIf="getErrors('mainDisease').maxlength">
                Поле завелике. Максимум: {{getErrors('mainDisease').maxlength.requiredLength}}
              </span>
      <span *ngIf="getErrors('mainDisease').required">
                Поле обов'язкове
              </span>
    </mat-error>
  </mat-form-field>
  <!--    Complication disease  -->
  <mat-form-field class="full-width">
    <mat-label>Ускладнення основного захворювання</mat-label>
    <input aria-label="Основне"
           formControlName="complicationDisease"
           matInput>
    <mat-error *ngIf="getErrors('complicationDisease')">
              <span *ngIf="getErrors('complicationDisease').maxlength">
                Поле завелике. Максимум: {{getErrors('complicationDisease').maxlength.requiredLength}}
              </span>
    </mat-error>
  </mat-form-field>
  <!--    Concomitant disease  -->
  <mat-form-field class="full-width">
    <mat-label>Супутнє захворювання:</mat-label>
    <input aria-label="Основне"
           formControlName="concomitantDisease"
           matInput>
    <mat-error *ngIf="getErrors('concomitantDisease')">
              <span *ngIf="getErrors('concomitantDisease').maxlength">
                Поле завелике. Максимум: {{getErrors('concomitantDisease').maxlength.requiredLength}}
              </span>
    </mat-error>
  </mat-form-field>
</div>
