<div>
    <div class="action-bar full-width">
        <button (click)="addExamination()" class="add-btn"
                mat-stroked-button
                type="button">
            Додати
            <mat-icon>add_circle_outline</mat-icon>
        </button>
    </div>
    <div *ngFor="let control of controls; index as i">
        <mat-divider></mat-divider>
        <h4 class="examination-title">
            <span>#{{i + 1}}</span>
            <button (click)="removeExamination(i)"
                    aria-label="Забрати"
                    class="remove-btn"
                    mat-button
                    type="button">
                Забрати
                <mat-icon>remove_circle_outline</mat-icon>
            </button>
        </h4>
        <app-create-detailed-examination [formGroup]="control">
        </app-create-detailed-examination>
    </div>
</div>
