.full-width {
  width: 100%;
}

.examination-title {
  display: flex;
  align-items: baseline;

  span {
    flex-grow: 1;
  }
}

.remove-btn {
  color: crimson;
}

.add-btn {
  color: limegreen;
}

.action-bar {
  display: flex;
  justify-content: center;
  margin: 8px 0;
}

