<mat-toolbar>
  <button (click)="diaryClick.emit()" color="primary"
          mat-raised-button>
    <mat-icon>add</mat-icon>
    Щоденник
  </button>
  <button (click)="analysisClick.emit()"
          mat-raised-button>
    Огляд
  </button>
  <button (click)="diagnosisClick.emit()"
          *ngIf="showDiagnosis"
          mat-raised-button>
    Заключний діагноз
  </button>
  <button (click)="treatmentClick.emit()"
          *ngIf="showTreatment"
          mat-raised-button>
    Лікування
  </button>
  <div class="epicrisis">
    <button (click)="epicrisisClick.emit()"
            [disabled]="!showEpicrisis"
            [matTooltipDisabled]="showEpicrisis"
            color="accent"
            mat-raised-button
            matTooltip="Необхідно поставити заключний діагноз та лікування">
      Епікриз
    </button>
  </div>
</mat-toolbar>
