.main-content {
  width: 80%;
  min-width: 600px;
  margin: 0 auto;
}

.content-holder {
  flex-direction: column;
  padding: 0 8px;
}

.no-patients-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action-btn {
  width: 100%;
  max-width: 250px;
}

.action-bar {
  margin-top: 16px;
  display: flex;
  justify-content: space-around;
}
