<div class="main-content">
  <div class="content-holder">
    <app-search-bar (patientSelect)="patient = $event"></app-search-bar>
    <div *ngIf="patient">
      <app-patient-info [patient]="patient"></app-patient-info>
      <div class="action-bar">
        <button [routerLink]="[patient.uuid]"
                class="action-btn"
                color="primary"
                mat-raised-button>
          Список оглядів пацієнта
        </button>
      </div>
    </div>
    <div *ngIf="!patient" class="no-patients-message">
      <h3>Пацієнта з введеним ім'ям не знайдено</h3>
    </div>
  </div>
</div>
