<div class="main-content">
  <div class="content-holder">
    <app-search-bar (patientSelect)="patient = $event"></app-search-bar>
    <div *ngIf="patient">
      <app-patient-info [patient]="patient"></app-patient-info>
      <div class="action-bar">
        <button (click)="navToHospitalization()"
                class="action-btn"
                color="primary"
                mat-raised-button>
          Дані пацієнта вірні
        </button>
        <button [routerLink]="[PARENT, patient.uuid, PATIENT.EDIT]"
                class="action-btn"
                color="accent"
                mat-raised-button>
          Редагувати дані
        </button>
      </div>
    </div>
    <div *ngIf="!patient" class="no-patients-message">
      <h3>Пацієнта з введеним ім'ям не знайдено</h3>
      <button [routerLink]="[PARENT, PATIENT.CREATE]" class="action-btn"
              color="primary"
              mat-raised-button>Створити
      </button>
    </div>
  </div>
</div>
