<div [formGroup]="formGroup">
  <!--   Description  -->
  <mat-form-field class="full-width">
    <mat-label>Опис</mat-label>
    <textarea aria-label="Опис"
              formControlName="description"
              matInput
              rows="8"></textarea>
    <mat-error *ngIf="getErrors('description')">
              <span *ngIf="getErrors('description').maxlength">
                Опис завеликий. Максимум: {{getErrors('description').maxlength.requiredLength}}
              </span>
      <span *ngIf="getErrors('description').required">
                Поле обов'язкове
              </span>
    </mat-error>
  </mat-form-field>
</div>
